#dzlogo{position:absolute;top:5px;left:10px;}
#creditsdz{position:fixed;right:5px;background-color:#704030;top:60px;height:50px;width:340px}
#dzstudios{font-family:'Metal Mania';position:relative;top:4px;left:55px;color:#00ff00;width:200px;height:28px;font-size:35px}

